<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nosotros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nuestra historia</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada blandit sem non tincidunt. Praesent at libero et eros rutrum ullamcorper a non massa. Ut blandit molestie commodo. Duis vehicula, urna ut ultricies fermentum, justo nisl tempus dui, non placerat orci erat sed nibh. Nullam pellentesque, tortor a pellentesque interdum, tortor est malesuada ipsum, in molestie neque mi sed arcu. Curabitur quis erat nec ante gravida pulvinar. Nam imperdiet neque velit, a vulputate augue ultrices eget. Pellentesque id lorem sit amet ipsum rhoncus cursus sed et tortor. Quisque non posuere eros. Etiam pulvinar nunc consequat odio tempor pretium. Maecenas venenatis ligula mi, a sodales nisl sagittis porta. Aenean lectus sapien, ultrices imperdiet fringilla a, pharetra ac elit. Vestibulum blandit mauris vel finibus volutpat.

Sed eleifend elementum risus, quis rhoncus diam porta vitae. Donec laoreet rutrum ligula, ac blandit neque bibendum sed. Duis mauris purus, vulputate non sollicitudin ut, pulvinar a mi. Nunc interdum ligula at dapibus laoreet. Sed ut massa sed urna congue ultricies nec eget ante. In vestibulum orci mauris, ut pulvinar eros pulvinar sit amet. Mauris consequat euismod tincidunt. Donec laoreet sem vitae arcu maximus, at interdum ipsum vehicula. Curabitur in egestas felis. In elit eros, placerat sed viverra id, mattis vel ex. Curabitur purus tellus, elementum a facilisis nec, egestas id risus. Aenean pellentesque quam vestibulum tristique semper. Donec hendrerit eget nunc in euismod. Nullam ut sem scelerisque, molestie justo at, tempus velit. Aliquam erat volutpat. Etiam facilisis lacus ut eros cursus luctus.
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
