<!-- 
  <ion-header [translucent]="true" collapse="fade">
  <ion-toolbar> -->
     <!-- <ion-title>
      Principal
    </ion-title> -->
  <!-- </ion-toolbar> -->
<!-- 
  <ion-toolbar>
  </ion-toolbar> 
</ion-header>
-->

<ion-header>
  <ion-toolbar>
    <ion-label>dick</ion-label>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
<!-- <ion-searchbar placeholder="Busca un producto..."></ion-searchbar> -->

<ion-content>
  <ion-card-title class="ion-padding">Categorias</ion-card-title>

  <swiper [slidesPerView]="2">
    <ng-template swiperSlide  *ngFor="let categoria of categorias">
      <ion-card>
        <img src="{{categoria.image}}" alt="Categoria">
        <h5>{{categoria.name}}</h5>

      </ion-card>
    </ng-template>
  </swiper>

  <ion-card-title class="ion-padding">Destacados</ion-card-title>

  <swiper [slidesPerView]="2">
    <ng-template swiperSlide  *ngFor="let producto of productos">
      <ion-card>
        <img src="{{producto.images[0]}}" alt="producto">
        <h5>{{producto.title}}</h5>

      </ion-card>
    </ng-template>
  </swiper>

  <ion-card-title class="ion-padding">Explorar Ofertas</ion-card-title>

  <swiper [slidesPerView]="2">
    <ng-template swiperSlide  *ngFor="let producto of productos">
      <ion-card>
        <img src="{{producto.images[0]}}" alt="producto">
        <h5>{{producto.title}}</h5>

      </ion-card>
    </ng-template>
  </swiper>


  <app-explore-container></app-explore-container>
</ion-content>
