<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  
  <ion-grid fixed class="ion-padding">
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="4">
        <ion-avatar style="width: 150px; height: 150px;">
        <img src="https://api.lorem.space/image?w=640&h=480&r=1977" />
      </ion-avatar>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>

  </ion-grid>

  <ion-item class="ion-margin">
    <ion-label position="floating" color="primary">Usuario</ion-label>
    <ion-input type="text" class="form-controll" value="jakecameron"></ion-input>
  </ion-item>

  <ion-item class="ion-margin">
    <ion-label position="floating" color="primary">Nombre</ion-label>
    <ion-input type="text" class="form-controll" value="Jake Cameron"></ion-input>
  </ion-item>

  <ion-item class="ion-margin">
    <ion-label position="floating" color="primary">Email</ion-label>
    <ion-input type="text" class="form-controll" disabled value="jakec@mail.com"></ion-input>
  </ion-item>

  <ion-button class="ion-margin" expand="full" shape="round">
    Guardar
  </ion-button>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
